*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Defining the background with color and an image*/
body{
  color: #ffffff ;
  background-color: #13130e;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
}

/*fonts */
@font-face {
  font-family: 'font';
  /*src:url('couture-bld.otf');*/
}

/* App Container */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Button to Login to Spotify*/
#loginButton{
    background-color: #e53aa2;
    border: none;
    border-radius: 15px;
    color: #ffffff; /*white */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin:20px;
}

/* Rehymn Logo */
.App-logo{
  display: block;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
      margin-bottom: 20px;
}


/* Recent Searches */
.recent-container{
  display: flex;
justify-content: center;
margin-top: 20px;
list-style-type: none;
}

.items-h{
    border: none;
    color: #e5255f;
    background: none;
    padding: 10px;
}
.items-h:hover{
  text-decoration: underline;
}


/* Search Bar */
input{
margin-top: 30px;
margin-bottom: 30px;

width: 520px;
height: 25px;
text-align:center;
}

.searchbutton{
  height:25px;
  width:125px;
  text-align:center;
}
.searchbutton:hover{
background-color: #e53aa2;
border: #e53aa2 ;
color:#ffffff;
}
/* Search Bar End*/

/* FAVOURITE ARTISTS */
.fav-container{
 display:flex;
 flex-direction: row;
 justify-content: space-between;
 list-style-type: none;
}
.fav-items{
  /* To correctly align image, regardless of content height: */
   vertical-align: top;
   display: inline-block;
   /* To horizontally center images and caption */
   text-align: center;
   /* The width of the container also implies margin around the images. */
   width: 120px;
   list-style-type: none;

}
.photo{
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 20px;
}


.fav-button{
  border: none;
  display: block;
  color: #ffffff;
  background: none;
  font-family: 'font';
  letter-spacing: 2px;
  float: left;
  margin-left: 65px;
}


.search-photo{
  margin: 0 auto;
}

.search-photo-item{
  border: none;
  background: none;
  display: flex;
  color: #ffffff;

  font-family: 'font';
  letter-spacing: 1.5px;
margin-left: 0 auto;

 }


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
